
<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employee)">
<div class="panel panel-primary" >
        <div class="panel-heading">
            <div class="panel-title">
                Create Employee
            </div>
        </div>
            <div class="panel-body">
                    <div class="form-group" [class.has-error]="fullNameControl.invalid && fullNameControl.touched"
                    [class.has-sucess]="fullNameControl.valid">
                            <label class="contorl-label">Full Name</label>
                            <input type="text" required [(ngModel)]="employee.fullName" name="fullName" class="form-control" #fullNameControl="ngModel">
                            <span class="help-block" *ngIf="fullNameControl.errors?.required && fullNameControl.touched">
                                    fullName is required
                            </span>
                    </div>
                    
                    <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="email" [(ngModel)]="employee.email"  class="form-control">
                    </div>
                    <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" name="phoneNumber" [(ngModel)]="employee.phoneNumber"  class="form-control">
                    </div>
                    <div class="form-group">
                            <label>Contact Preference</label>
                            <div class="form-control">                                     
                                        <label class="radio-inline">
                                            <input type="radio" name="contactPreference" [(ngModel)]="employee.contactPreference" value="Email">
                                            Email
                                        </label>
                                        
                                        <label class="radio-inline">
                                                <input type="radio" name="contactPreference" [(ngModel)]="employee.contactPreference" value="Phone">
                                                Phone
                                        </label>
                                </div>
                    </div>

                    <div class="form-group">
                            <label>Gender</label>
                            <div class="form-control">                                     
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" [(ngModel)]="employee.gender" value="Male">
                                            Male
                                        </label>
                                        
                                        <label class="radio-inline">
                                                <input type="radio" name="gender" [(ngModel)]="employee.gender" value="Female">
                                                Female
                                        </label>
                                </div>
                    </div>
                    <div class="form-group">
                            <label>Department</label>
                          
                             <select id="department" name="department" [(ngModel)]="employee.department" class="form-control">
                                <option *ngFor="let dept of departments" [value]="dept.id">
                                    {{dept.name}}
                                </option>
                             </select>
    
                           
                    </div>
    
                    <div class="form-group">
                           
                            <div class="form-control">                                     
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive"> Is Active
                                                                                    </label>
                                        
                                </div>
                    </div>
                    
                    <div class="form-group">
                            <label>Date of Birth</label>
                            <input type="date" [(ngModel)]="employee.dob" name="dob" class="form-control">
                    </div>

       </div>
       <div class="panel-footer">
           <button type="submit" class="btn btn-primary">Submit</button>
       </div>
       </div>
 </form>
